body {
    margin: 0;
    background-color: gray;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-buttons {
    display: flex;
    flex-direction: column;   
}

button {
    border: none;
    border-radius: 5px;
    padding: 5px 5px 7px 5px;
    margin: 2px;
    cursor: pointer;
}

.networkCanvas {
    background-color: black;
}

.carCanvas {
    background-color: lightgray;
}